#body{
    overflow-x: hidden;
}
#header-bar{
    width: 100%;
    height: 100px;
    background-color: black;
}
#header-name{
    color: #fff;
   font-family: businessSignature;
   font-weight: bold;
   font-size: 4em;
}
@font-face {
    font-family: businessSignature;
    src: url(images/BusinessSignatureDemo.otf);
}

#mypic{
    height: 345px;
    width: 300px;
    border-radius: 2.25em;
    max-width:100%; 
    margin-left: 5em;

}



.text{
    padding-top: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#about{
    background-color: black;
    width: 100%;
    height:20em
}
#navbar{
    background-color: black;
}

.skillcards{
    padding-left: 75px;
    padding-top: 35px;
    
}
.skills-text{
    color: black;
    font-family:'Montserrat', sans-serif; 
    font-weight: bolder;
}
.skillcards-bg{
    background-color: whitesmoke;
    color: black;
    border-color: black;
    border-radius: 0.5cm;
}

.skill-section{
    padding: 33px;
    background-color: whitesmoke;
}

.services-text{
    color: black;
    font-family:'Montserrat', sans-serif; 
    font-weight: bolder;
}

.services-card{
    border-radius: 0.5cm;
    border-color: black;
    color: black;
}
.wedo {
    padding: 3em 0;
    background: whitesmoke;
}
.contact_grid_right input[type="text"], .contact_grid_right input[type="email"], .contact_grid_right textarea {
    outline: none;
    padding: 15px 15px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    background: whitesmoke;
    width: 100%;
    letter-spacing: 1px;
    border: 1px solid #000000;
    border-radius: 0.25em;
    margin-top: 1em;
}

.contact_grid_right input[type="text"]:nth-child(2),
.contact_grid_right input[type="email"] {
    margin: 1em 0 0;
}

.contact_grid_right textarea {
    min-height: 17em;
    margin: 1em 0em;
    resize: none;
}

.contact_grid_right input[type="submit"], .contact_grid_right input[type="reset"] {
    outline: none;
    padding: 20px 0;
    font-size: 1.1em;
    color: #fff;
    background: rgb(246, 103, 103);
    width: 22%;
    border: none;
    letter-spacing: 2px;
    border-radius: 0.25em;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    font-weight: 700;
    cursor: pointer;
}

.contact_grid_right input[type="submit"]{
    background-color: #000000;
}
.contact_grid_right input[type="reset"]:hover {
    background-color: #ff0000;
}
.contact_grid_right.mt-5.text-center {
    width: 80%;
}
.contact-text{
    color: black;
    font-family:'Montserrat', sans-serif; 
    font-weight: bolder;
}
.footer{
    background-color: #000000;
}
